CentralRealizaOfertasATercero.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/CentralRealizaOfertasATercero/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CentralRealizaOfertasATercero" targetNamespace="http://www.example.org/CentralRealizaOfertasATercero/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/CentralRealizaOfertasATercero/">
      <xsd:element name="CentralEnviaOfertasATercero">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="ofertas" type="tns:Oferta"
          		minOccurs="1" maxOccurs="unbounded" />
          	<xsd:element name="tercero" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CentralEnviaOfertasATerceroResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="enviado" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Oferta">
      	<xsd:sequence>
      		<xsd:element name="productos" type="tns:Producto"
      			minOccurs="1" maxOccurs="unbounded">
      		</xsd:element>
      		<xsd:element name="id" type="xsd:int"></xsd:element>
      		<xsd:element name="fecha" type="xsd:date"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      
            <xsd:complexType name="Producto">
            	<xsd:sequence>
            		<xsd:element name="id" type="xsd:int"></xsd:element>
            		<xsd:element name="nombre" type="xsd:string"></xsd:element>
            		<xsd:element name="cantidad" type="xsd:int"></xsd:element>
            		<xsd:element name="precio" type="xsd:float"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CentralEnviaOfertasATerceroRequest">
    <wsdl:part element="tns:CentralEnviaOfertasATercero" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CentralEnviaOfertasATerceroResponse">
    <wsdl:part element="tns:CentralEnviaOfertasATerceroResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CentralRealizaOfertasATercero">
    <wsdl:operation name="CentralEnviaOfertasATercero">
      <wsdl:input message="tns:CentralEnviaOfertasATerceroRequest"/>
      <wsdl:output message="tns:CentralEnviaOfertasATerceroResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CentralRealizaOfertasATerceroSOAP" type="tns:CentralRealizaOfertasATercero">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CentralEnviaOfertasATercero">
      <soap:operation soapAction="http://www.example.org/CentralRealizaOfertasATercero/CentralEnviaOfertasATercero"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CentralRealizaOfertasATercero">
    <wsdl:port binding="tns:CentralRealizaOfertasATerceroSOAP" name="CentralRealizaOfertasATerceroSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
