CentralRealizaPedidoAProveedor.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/CentralRealizaPedidoAProveedor/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CentralRealizaPedidoAProveedor" targetNamespace="http://www.example.org/CentralRealizaPedidoAProveedor/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/CentralRealizaPedidoAProveedor/">
      <xsd:element name="CentralRealizaPedido">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="productos" type="tns:Producto"
          		minOccurs="1" maxOccurs="unbounded" />
          	<xsd:element name="proveedor" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CentralRealizaPedidoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="realizado" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CentralActualizaInventario">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="productos" type="tns:Producto" minOccurs="1" maxOccurs="unbounded"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="CentralActualizaInventarioResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="actualizado" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Producto">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:int"></xsd:element>
      		<xsd:element name="nombre" type="xsd:string"></xsd:element>
      		<xsd:element name="cantidad" type="xsd:int"></xsd:element>
      		<xsd:element name="precio" type="xsd:float"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CentralRealizaPedidoRequest">
    <wsdl:part element="tns:CentralRealizaPedido" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CentralRealizaPedidoResponse">
    <wsdl:part element="tns:CentralRealizaPedidoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CentralActualizaInventarioRequest">
  	<wsdl:part name="parameters" element="tns:CentralActualizaInventario"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CentralActualizaInventarioResponse">
  	<wsdl:part name="parameters" element="tns:CentralActualizaInventarioResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CentralRealizaPedidoAProveedor">
    <wsdl:operation name="CentralRealizaPedido">
      <wsdl:input message="tns:CentralRealizaPedidoRequest"/>
      <wsdl:output message="tns:CentralRealizaPedidoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CentralActualizaInventario">
    	<wsdl:input message="tns:CentralActualizaInventarioRequest"></wsdl:input>
    	<wsdl:output message="tns:CentralActualizaInventarioResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CentralRealizaPedidoAProveedorSOAP"
  	type="tns:CentralRealizaPedidoAProveedor">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="CentralRealizaPedido">

  		<soap:operation
  			soapAction="http://www.example.org/CentralRealizaPedidoAProveedor/CentralRealizaPedido" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="CentralActualizaInventario">
  		<soap:operation
  			soapAction="http://www.example.org/CentralRealizaPedidoAProveedor/CentralActualizaInventario" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CentralRealizaPedidoAProveedor">
    <wsdl:port binding="tns:CentralRealizaPedidoAProveedorSOAP" name="CentralRealizaPedidoAProveedorSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
