TerceroRealizaPedidoACentral.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/TerceroRealizaPedidoACentral/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TerceroRealizaPedidoACentral" targetNamespace="http://www.example.org/TerceroRealizaPedidoACentral/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/TerceroRealizaPedidoACentral/">
      <xsd:element name="TerceroRealizaPedido">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="productos" type="tns:Producto"
          		minOccurs="1" maxOccurs="unbounded" />
          	<xsd:element name="tercero" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TerceroRealizaPedidoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="realizado" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Producto">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:int"></xsd:element>

      		<xsd:element name="nombre" type="xsd:string"></xsd:element>
      		<xsd:element name="cantidad" type="xsd:int"></xsd:element>
      		<xsd:element name="precio" type="xsd:float"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TerceroRealizaPedidoRequest">
    <wsdl:part element="tns:TerceroRealizaPedido" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="TerceroRealizaPedidoResponse">
    <wsdl:part element="tns:TerceroRealizaPedidoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="TerceroRealizaPedidoACentral">
    <wsdl:operation name="TerceroRealizaPedido">
      <wsdl:input message="tns:TerceroRealizaPedidoRequest"/>
      <wsdl:output message="tns:TerceroRealizaPedidoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TerceroRealizaPedidoACentralSOAP"
  	type="tns:TerceroRealizaPedidoACentral">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="TerceroRealizaPedido">

  		<soap:operation
  			soapAction="http://www.example.org/TerceroRealizaPedidoACentral/TerceroRealizaPedido" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TerceroRealizaPedidoACentral">
    <wsdl:port binding="tns:TerceroRealizaPedidoACentralSOAP" name="TerceroRealizaPedidoACentralSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
