TiendaDistribuida.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/TiendaDistribuida/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TiendaDistribuida" targetNamespace="http://www.example.org/TiendaDistribuida/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/TiendaDistribuida/">
      <xsd:element name="Validar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cif" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ValidarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="validada" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ValidarRequest">
    <wsdl:part element="tns:Validar" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ValidarResponse">
    <wsdl:part element="tns:ValidarResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="TiendaDistribuida">
    <wsdl:operation name="Validar">
      <wsdl:input message="tns:ValidarRequest"/>
      <wsdl:output message="tns:ValidarResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TiendaDistribuidaSOAP"
  	type="tns:TiendaDistribuida">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="Validar">

  		<soap:operation
  			soapAction="http://www.example.org/TiendaDistribuida/Validar" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TiendaDistribuida">
    <wsdl:port binding="tns:TiendaDistribuidaSOAP" name="TiendaDistribuidaSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
