TiendaDistribuidaRealizaPedido.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/TiendaDistribuidaRealizaPedido/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TiendaDistribuidaRealizaPedido" targetNamespace="http://www.example.org/TiendaDistribuidaRealizaPedido/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/TiendaDistribuidaRealizaPedido/">
      <xsd:element name="TiendaDistribuidaRealizaPedidoACentral">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="productos" type="tns:Producto"
          		minOccurs="1" maxOccurs="unbounded" />
          	<xsd:element name="tiendaDistribuida" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TiendaDistribuidaRealizaPedidoACentralResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="realizado" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Producto">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:int"></xsd:element>
      		<xsd:element name="nombre" type="xsd:string"></xsd:element>
      		<xsd:element name="cantidad" type="xsd:int"></xsd:element>
      		<xsd:element name="precio" type="xsd:float"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="TiendaDistribuidaActualizaInventario">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="productos" type="tns:Producto"
      				minOccurs="1" maxOccurs="unbounded">
      			</xsd:element>
      			<xsd:element name="tiendaDistribuida" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="TiendaDistribuidaActualizaInventarioResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="actualizado" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="TiendaDistribuidaRealizaPedidoAProveedor">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="productos" type="tns:Producto"
      				minOccurs="1" maxOccurs="unbounded">
      			</xsd:element>
      			<xsd:element name="tiendaDistribuida" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="TiendaDistribuidaRealizaPedidoAProveedorResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="realizado" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TiendaDistribuidaRealizaPedidoACentralRequest">
    <wsdl:part element="tns:TiendaDistribuidaRealizaPedidoACentral" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="TiendaDistribuidaRealizaPedidoACentralResponse">
    <wsdl:part element="tns:TiendaDistribuidaRealizaPedidoACentralResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="TiendaDistribuidaActualizaInventarioRequest">
  	<wsdl:part name="parameters" element="tns:TiendaDistribuidaActualizaInventario"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="TiendaDistribuidaActualizaInventarioResponse">
  	<wsdl:part name="parameters" element="tns:TiendaDistribuidaActualizaInventarioResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="TiendaDistribuidaRealizaPedidoAProveedorRequest">
  	<wsdl:part name="parameters" element="tns:TiendaDistribuidaRealizaPedidoAProveedor"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="TiendaDistribuidaRealizaPedidoAProveedorResponse">
  	<wsdl:part name="parameters" element="tns:TiendaDistribuidaRealizaPedidoAProveedorResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TiendaDistribuidaRealizaPedido">
    <wsdl:operation name="TiendaDistribuidaRealizaPedidoACentral">
      <wsdl:input message="tns:TiendaDistribuidaRealizaPedidoACentralRequest"/>
      <wsdl:output message="tns:TiendaDistribuidaRealizaPedidoACentralResponse"/>
    </wsdl:operation>
    <wsdl:operation name="TiendaDistribuidaActualizaInventario">
    	<wsdl:input message="tns:TiendaDistribuidaActualizaInventarioRequest"></wsdl:input>
    	<wsdl:output message="tns:TiendaDistribuidaActualizaInventarioResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TiendaDistribuidaRealizaPedidoAProveedor">
    	<wsdl:input message="tns:TiendaDistribuidaRealizaPedidoAProveedorRequest"></wsdl:input>
    	<wsdl:output message="tns:TiendaDistribuidaRealizaPedidoAProveedorResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TiendaDistribuidaRealizaPedidoSOAP"
  	type="tns:TiendaDistribuidaRealizaPedido">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="TiendaDistribuidaRealizaPedidoACentral">

  		<soap:operation
  			soapAction="http://www.example.org/TiendaDistribuidaRealizaPedido/TiendaDistribuidaRealizaPedidoACentral" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="TiendaDistribuidaActualizaInventario">
  		<soap:operation
  			soapAction="http://www.example.org/TiendaDistribuidaRealizaPedido/TiendaDistribuidaActualizaInventario" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="TiendaDistribuidaRealizaPedidoAProveedor">
  		<soap:operation
  			soapAction="http://www.example.org/TiendaDistribuidaRealizaPedido/TiendaDistribuidaRealizaPedidoAProveedor" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TiendaDistribuidaRealizaPedido">
    <wsdl:port binding="tns:TiendaDistribuidaRealizaPedidoSOAP" name="TiendaDistribuidaRealizaPedidoSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
