resources/Venta.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Venta" targetNamespace="http://www.example.org/Venta/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/Venta/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Venta/">
      <xsd:element name="Insertar">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element maxOccurs="unbounded" minOccurs="1" name="productos" type="tns:Producto"/>
          	<xsd:element name="precioTotal" type="xsd:float"/>
          	<xsd:element name="pagado" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InsertarResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Validar">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element maxOccurs="unbounded" minOccurs="1" name="productos" type="tns:Producto">
      			</xsd:element>
      			<xsd:element name="precioTotal" type="xsd:float"/>
      			<xsd:element name="pagado" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ValidarResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="validado" type="xsd:boolean"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Producto">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:int"/>
      		<xsd:element name="nombre" type="xsd:string"/>
      		<xsd:element name="cantidad" type="xsd:int"/>
      		<xsd:element name="precio" type="xsd:float"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Factura">
      	<xsd:sequence>
      		<xsd:element maxOccurs="unbounded" minOccurs="1" name="productos" type="tns:Producto">
      		</xsd:element>
      		<xsd:element name="id" type="xsd:int"/>
      		<xsd:element name="precioTotal" type="xsd:float"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="Oferta">
      	<xsd:sequence>
      		<xsd:element maxOccurs="unbounded" minOccurs="1" name="productos" type="tns:Producto"/>
      		<xsd:element name="id" type="xsd:int"/>
      		<xsd:element name="fecha" type="xsd:date"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InsertarResponse">
    <wsdl:part name="parameters" element="tns:InsertarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ValidarRequest">
    <wsdl:part name="parameters" element="tns:Validar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InsertarRequest">
    <wsdl:part name="parameters" element="tns:Insertar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ValidarResponse">
    <wsdl:part name="parameters" element="tns:ValidarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Venta">
    <wsdl:operation name="Insertar">
      <wsdl:input message="tns:InsertarRequest">
    </wsdl:input>
      <wsdl:output message="tns:InsertarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validar">
      <wsdl:input message="tns:ValidarRequest">
    </wsdl:input>
      <wsdl:output message="tns:ValidarResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VentaSOAP" type="tns:Venta">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://www.example.org/Venta/Insertar"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validar">
      <soap:operation soapAction="http://www.example.org/Venta/Validar"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Venta">
    <wsdl:port name="VentaSOAP" binding="tns:VentaSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
